body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 2px 8px 4px rgb(97 230 8 / 80%);
}

.display {
  background: #222;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
  min-height: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #ddd;
}

button:hover {
  background: #bbb;
}

.clear {
  grid-column: span 4;
  background: red;
  color: white;
}
h1{
  font-family: "sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
